<div class="dash-board" id="create_form" *ngIf="isShowForm">
  <form [formGroup]="createForm" (ngSubmit)="createSession()">
    <div>
      <input class="input" type="text" id="name" name="name" placeholder="Enter your name" formControlName="name" required />
      <button class="button" type="submit" [disabled]="createForm.invalid">Create session</button>
    </div>
    <div *ngIf="createForm.get('name')!.invalid && createForm.get('name')!.touched">
      <small>Please enter a valid name (minimum 3 characters).</small>
    </div>
  </form>
</div>
<div class="dash-board" id="info" *ngIf="!isShowForm">
  <form [formGroup]="endForm" (ngSubmit)="endSession()">
    <p>USER: {{ infoName }}</p>
    <p>
      INVITE LINK: <span class="invite-link"> {{ infoLink }}</span>
    </p>
    <div class="button-row">
      <button type="button" class="button" ngxClipboard [cbContent]="infoLink">Copy link to clipboard</button>
      <button *ngIf="!isCreator && isShowEndButton" type="button" class="button" (click)="leaveSession()">Leave Session</button>
      <button *ngIf="isCreator && isShowEndButton" class="button">End Session</button>
      <button *ngIf="!isShowEndButton" type="button" class="button" (click)="newSession()">New Session</button>
    </div>
  </form>
</div>
